@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --paleViolet: hsl(276, 100%, 81%); /*(sub-heading at the top of the app UI)*/
  --moderateViolet: hsl(276, 55%, 52%); /*(chat on the left)*/
  --desaturatedDarkViolet: hsl(271, 15%, 43%); /*(chat on the right)*/
  --grayishBlue: hsl(206, 6%, 79%); /*(placeholder text)*/
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%); /*(main heading)*/
  --darkGrayishViolet: hsl(270, 7%, 64%); /*(paragraph)*/

  /*gradient color*/
  --lightMagenta: hsl(293, 100%, 63%);
  --lightViolet: hsl(264, 100%, 61%);

  /*Secondary*/
  --white: hsl(0, 0%, 100%);
  --lightGrayishViolet: hsl(270, 20%, 96%); /*(app background)*/
  --veryDarkDesaturatedViolet: hsl(
    271,
    36%,
    24%
  ); /*(submit button background)*/
  --VeryLightMagenta: hsl(289, 100%, 72%); /*(radio button outline)*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lightGrayishViolet);
}
/* top left & bottom right design */
.topLeftBg,
.bottomRightBg {
  position: absolute;
  width: 50%;
  height: 50%;
  max-width: 350px;
  background: linear-gradient(#e942ff, #8838ff);
}
.topLeftBg {
  top: 0%;
  left: 0%;
  border-bottom-right-radius: 80rem;
}

.bottomRightBg {
  right: 0;
  bottom: 0;
  border-top-left-radius: 80rem;
  opacity: 0.1;
}

/* phone container */

.container {
  padding-top: 2rem;
  z-index: 1;
  display: flex;
  /* border: 1px solid teal; */
  width: 100%;
  max-width: 468px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* celphone */
.cp-container {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 570px;
  border: 1px solid var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1em;
  padding: 0.7rem;
  background: var(--white);
}
.cp-inner {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 265px;
  border-radius: 1rem;
  background: var(--lightGrayishViolet);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cp-top-hero {
  position: relative;
  width: 100%;
  height: 15%;
  background: linear-gradient(to left, #e942ff, #8838ff);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.half-sphere {
  z-index: 4;
  position: absolute;
  top: 0;
  height: 2.5rem;
  width: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white);
  border-radius: 1rem;
}

.profile-hero {
  width: 100%;
  height: 100%;
  max-height: 65px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
.profile-hero .profile-text {
  flex: 1 0 auto;
}
.fa-solid {
  color: var(--white);
  margin: 0 0.7rem;
}
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-container {
  margin-right: 0.5rem;
}

.profile-text p:nth-child(1) {
  color: var(--white);
  font-size: 0.7rem;
}
.profile-text p:nth-child(2) {
  color: var(--paleViolet);
  font-size: 0.7rem;
}
.profile-container p:nth-child(3) {
  font-size: 0.5rem;
}
.avatar-container {
  width: 35px;
}
.avatar-container img {
  max-width: 100%;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.chat1,
.chat2,
.chat3 {
  width: 100%;
  max-width: 150px;
  background: #ede5f4;
  font-size: 0.6rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.6rem;
}
.chat-container {
  display: block;
  font-size: 0.6rem;
  margin: 0 0.5rem;
  padding: 0.5rem;
}
.chat-container .chat3,
.chat4,
.chat5 {
  background: var(--white);
  margin: 0.2rem;
  float: right;
  padding: 0.5rem;
  border-radius: 0.6rem;
}
.chat-container .chat5 {
  background: #ede5f4;
  width: 145px;
  float: left;
}

.dog-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dog1,
.dog2,
.dog3 {
  width: 50px;
  margin: 0 0.2rem;
}
.dog1 img {
  width: 100%;
  border-radius: 0.5rem;
}
.dog2 img {
  width: 100%;
  border-radius: 0.5rem;
}
.dog3 img {
  width: 100%;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.price-options {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.price-options .form-control {
  font-size: 0.5rem;
  background: linear-gradient(to right, #e942ff, #8838ff);
  margin: 0.2rem 0.5rem;
  padding: 0.6rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.1rem;
  color: var(--grayishBlue);
}
.price-options .text-input {
  padding: 0.6rem;
  border-radius: 1rem;
  border: 0;
  width: 250px;
}
.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-control input {
  border: 1px solid white;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  background: var(--VeryLightMagenta);
  cursor: pointer;
}
.form-control input:checked {
  background: var(--veryDarkDesaturatedViolet);
}
.form-control span {
  color: var(--white);
  font-weight: 400;
}

.send {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.send input:focus {
  outline: none;
}
.send .fa-solid {
  z-index: 5;
  position: absolute;
  color: var(--veryDarkDesaturatedViolet);
  bottom: 4%;
  right: -4%;
  font-size: 1.8rem;
  cursor: pointer;
}
/* end of celphone */

.heading-title {
  /* border: 1px solid teal; */
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.heading-title h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: var(--VeryDarkDesaturatedViolet);
  margin: 1rem 0;
}
.heading-title p {
  text-align: center;
  color: var(--darkGrayishViolet);
  line-height: 1.5rem;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .container {
    flex-wrap: nowrap;
    min-width: 992px;
    width: 60%;
    padding: 2rem;
    justify-content: space-between;
    align-content: center;
  }
  .topLeftBg,
  .bottomRightBg {
    width: 100%;
    height: 80%;
    max-width: 580px;
  }
  .topLeftBg {
    margin-left: -4rem;
    border-bottom-left-radius: 40rem;
    border-bottom-right-radius: 40rem;
  }
  .bottomRightBg {
    border-top-left-radius: 40rem;
    border-top-right-radius: 40rem;
  }
  /* .cp-container {
  } */
  .heading-title {
    width: 100%;
    max-width: 550px;
    flex-direction: column;
    justify-content: space-between;
  }
  .heading-title h1 {
    text-align: left;
    font-size: 3rem;
    font-weight: 700;
  }
  .heading-title p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.8rem;
  }
}
